*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: center / cover fixed no-repeat url('img/game.jpg');
}

.text {
    text-transform: uppercase;
    text-align: center;
    height: 2rem;
}

.container {
    text-align: center;
    width: 20rem;
}

.computer-container {
    margin-bottom: 10px;
}

.player-container {
    margin-top: 10px;
}

.computer-title,
.player-title {
    font-weight: bold;
    height: 2rem;
    text-shadow: 1px 1px beige;
}

.top {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    height: 4rem;
}

.decks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 14rem;
}

.deck {
    position: relative;
    cursor: pointer;
    width: 8rem;
    height: 100%;
    margin: auto;
    border-radius: .5rem;
}

.computer-deck {
    border: 1px solid lightgreen;
    background: center / contain no-repeat url('img/penguin.png'), lightgreen;
}

.player-deck {
    border: 1px solid lightblue;
    background: center / contain no-repeat url('img/penguin.png'), lightblue;
}

.card {
    position: relative;
    width: 8rem;
    height: 14rem;
    border-radius: .5rem;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1.5rem;
}

.card::before {
    top: .5rem;
    left: .5rem;
}

.card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
}

.card-slot {
    position: relative;
    margin: auto;
}

.card-stay {
    user-select: none;
    text-align: center;
    height: 2rem;
    margin-top: 10px;
}